1. Calcular la comida la comida que consume cada camaron. (es decir, si yo hoy lanzo 100kg de comida y tengo 100 camarones, cada camaron consume 1kg)
2. Obtener el peso min, prom y max por dias (relativo)
3. Filtrar los datos por cuya supervivencia sea mayor a la supervivencia promedio de todas las piscinas
4. Obtener crecimiento min y max por semana (relativo)
5. Abrir el archivo de excel en un DataFrame

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/data1.csv')
df.head()

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA
0,4,2020,2020-07-01,4.9,0,0.000000,1.00,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,4,2020,2020-07-02,4.9,1,0.142857,0.98,978040.0,199600.000000,0.15,0.00,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000
2,4,2020,2020-07-03,4.9,2,0.285714,0.97,968060.0,197563.265306,0.18,0.03,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421
3,4,2020,2020-07-04,4.9,3,0.428571,0.96,958080.0,195526.530612,0.24,0.06,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002
4,4,2020,2020-07-05,4.9,4,0.571429,0.95,948100.0,193489.795918,0.30,0.06,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318

In [8]:
#1
df['food/shrimp (g)'] = df['food(kg)']/df['density(shrimp)'] * 1000
df.head()

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),...,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,food/shrimp,food/shrimp (g)
0,4,2020,2020-07-01,4.9,0,0.000000,1.00,998000.0,203673.469388,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,4,2020,2020-07-02,4.9,1,0.142857,0.98,978040.0,199600.000000,0.15,...,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.038342,0.038342
2,4,2020,2020-07-03,4.9,2,0.285714,0.97,968060.0,197563.265306,0.18,...,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.041320,0.041320
3,4,2020,2020-07-04,4.9,3,0.428571,0.96,958080.0,195526.530612,0.24,...,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.041750,0.041750
4,4,2020,2020-07-05,4.9,4,0.571429,0.95,948100.0,193489.795918,0.30,...,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.052737,0.052737

In [13]:
#2
df.groupby('days')['weight(g)'].agg(['min','max','mean']).head()

       min   max   mean
days
0     0.30  0.30  0.300
1     0.15  0.41  0.280
2     0.18  0.53  0.355
3     0.24  0.65  0.445
4     0.30  0.77  0.535

In [16]:
#3 
su_prom = df['surviving'].mean()
df[ df['surviving']>su_prom ]

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),...,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,food/shrimp,food/shrimp (g)
0,4,2020,2020-07-01,4.90,0,0.000000,1.0000,998000.0,203673.469388,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,4,2020,2020-07-02,4.90,1,0.142857,0.9800,978040.0,199600.000000,0.15,...,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.038342,0.038342
2,4,2020,2020-07-03,4.90,2,0.285714,0.9700,968060.0,197563.265306,0.18,...,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.041320,0.041320
3,4,2020,2020-07-04,4.90,3,0.428571,0.9600,958080.0,195526.530612,0.24,...,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.041750,0.041750
4,4,2020,2020-07-05,4.90,4,0.571429,0.9500,948100.0,193489.795918,0.30,...,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.052737,0.052737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,9,2020,2020-08-12,2.31,34,4.857143,0.8575,343000.0,148484.848485,7.75,...,2658.2500,1150.757576,125.0,54.112554112554115,AA/platos,NaN,2585.0,1.018378,0.364431,0.364431
129,9,2020,2020-08-13,2.31,35,5.000000,0.8555,342200.0,148138.528139,8.08,...,2764.9760,1196.959307,125.0,54.112554112554115,AA/platos,1.0,2710.0,1.024545,0.365283,0.365283
130,9,2020,2020-08-14,2.31,36,5.142857,0.8535,341400.0,147792.207792,8.38,...,2860.9320,1238.498701,125.0,54.112554112554115,AA/platos,NaN,2835.0,1.034282,0.366139,0.366139
131,9,2020,2020-08-15,2.31,37,5.285714,0.8515,340600.0,147445.887446,8.69,...,2959.8140,1281.304762,135.0,58.44155844155844,AA/platos,NaN,2970.0,1.045806,0.396359,0.396359
137,9,2020,2020-08-21,2.31,43,6.142857,0.8400,336000.0,145454.545455,10.25,...,3444.0000,1490.909091,135.0,58.44155844155844,AA/platos,NaN,3645.0,1.096537,0.401786,0.401786

In [21]:
#4
df['week2'] = df['week'].astype(int)
df.groupby('week2')['growth'].agg(['min','max'])

         min     max
week2
0      0.000  0.1300
1      0.050  0.3600
2      0.140  0.4100
3      0.010  0.4000
4      0.200  0.3700
5      0.180  0.3800
6      0.170  0.3500
7      0.120  0.5425
8      0.130  0.3800
9      0.230  0.3000
10     0.300  0.3375
11    -0.510  0.6700
12     0.164  0.5000
13     0.330  0.3400

In [26]:
#5
df_excel = pd.ExcelFile('data/Tabla Saturacion DO.xlsx').parse(0)
df_excel.dropna(axis=1, how='all')

    temp/Sali    0.03   9.055   18.08  27.105   36.13  45.155
0           0  14.621  13.728  12.888  12.097  11.355  10.657
1           5  12.770  12.024  11.320  10.656  10.031   9.441
2          10  11.288  10.656  10.058   9.493   8.959   8.454
3          15  10.084   9.541   9.027   8.540   8.079   7.642
4          20   9.092   8.621   8.174   7.749   7.346   6.964
5          25   8.263   7.850   7.457   7.083   6.728   6.390
6          30   7.559   7.194   6.845   6.513   6.100   5.806
7          35   6.950   6.624   6.314   6.017   5.734   5.464
8          40   6.412   6.121   5.842   5.576   5.321   5.078
9          45   5.927   5.665   5.414   5.174   4.944   4.724
10         50   5.477   5.242   5.016   4.799   4.591   4.392

In [36]:
#Obtener promedio supervivencia por piscinas 
#forma 1
df_sup_mean = df.groupby('pool_id', as_index=False)['surviving'].mean()
df2 = pd.merge(df, df_sup_mean, on='pool_id')

df_sup_mean

   pool_id  surviving
0        4   0.812199
1        9   0.864860

In [35]:
df['sup_mean'] = df.groupby('pool_id')['surviving'].transform('mean')
df

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),...,food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,food/shrimp,food/shrimp (g),week2,sup_mean
0,4,2020,2020-07-01,4.90,0,0.000000,1.000,998000.0,203673.469388,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0.812199
1,4,2020,2020-07-02,4.90,1,0.142857,0.980,978040.0,199600.000000,0.1500,...,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.038342,0.038342,0,0.812199
2,4,2020,2020-07-03,4.90,2,0.285714,0.970,968060.0,197563.265306,0.1800,...,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.041320,0.041320,0,0.812199
3,4,2020,2020-07-04,4.90,3,0.428571,0.960,958080.0,195526.530612,0.2400,...,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.041750,0.041750,0,0.812199
4,4,2020,2020-07-05,4.90,4,0.571429,0.950,948100.0,193489.795918,0.3000,...,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.052737,0.052737,0,0.812199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,9,2020,2020-08-30,2.31,52,7.428571,0.794,317600.0,137489.177489,13.4575,...,0.0,0,AA/platos,NaN,4640.0,1.116941,0.000000,0.000000,7,0.864860
147,9,2020,2020-08-31,2.31,53,7.571429,0.792,316800.0,137142.857143,14.0000,...,150.0,64.93506493506493,AA/platos,1.0,4790.0,1.110004,0.473485,0.473485,7,0.864860
148,9,2020,2020-09-01,2.31,54,7.714286,0.790,316000.0,136796.536797,14.1200,...,150.0,64.93506493506493,AA/platos,NaN,4940.0,1.137719,0.474684,0.474684,7,0.864860
149,9,2020,2020-09-02,2.31,55,7.857143,0.788,315200.0,136450.216450,14.2400,...,150.0,64.93506493506493,AA/platos,NaN,5090.0,1.165147,0.475888,0.475888,7,0.864860
150,9,2020,2020-09-03,2.31,56,8.000000,0.786,314400.0,136103.896104,14.3700,...,150.0,64.93506493506493,AA/platos,1.0,5240.0,1.191443,0.477099,0.477099,8,0.864860