In [4]:
import pandas as pd

In [5]:
df= pd.read_csv("data/data1.csv")

In [6]:
df.head(100)

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA
0,4,2020,2020-07-01,4.90,0,0.000000,1.00,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,4,2020,2020-07-02,4.90,1,0.142857,0.98,978040.0,199600.000000,0.15,0.00,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000
2,4,2020,2020-07-03,4.90,2,0.285714,0.97,968060.0,197563.265306,0.18,0.03,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421
3,4,2020,2020-07-04,4.90,3,0.428571,0.96,958080.0,195526.530612,0.24,0.06,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002
4,4,2020,2020-07-05,4.90,4,0.571429,0.95,948100.0,193489.795918,0.30,0.06,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9,2020,2020-07-10,2.31,1,0.142857,0.98,392000.0,169696.969697,0.41,0.11,160.7200,69.575758,20.0,8.658008658008658,Boleo,NaN,20.0,0.489956
96,9,2020,2020-07-11,2.31,2,0.285714,0.97,388000.0,167965.367965,0.53,0.12,205.6400,89.021645,20.0,8.658008658008658,Boleo,NaN,40.0,0.466527
97,9,2020,2020-07-12,2.31,3,0.428571,0.96,384000.0,166233.766234,0.65,0.12,249.6000,108.051948,25.0,10.822510822510822,Boleo,NaN,65.0,0.501157
98,9,2020,2020-07-13,2.31,4,0.571429,0.95,380000.0,164502.164502,0.77,0.12,292.6000,126.666667,35.0,15.15151515151515,Boleo,1.0,100.0,0.579039
99,9,2020,2020-07-14,2.31,5,0.714286,0.94,376000.0,162770.562771,0.81,0.04,304.5600,131.844156,35.0,15.15151515151515,Boleo,NaN,135.0,0.731073

In [25]:
#Ejercicio 1
df["alimentocamaron"]=df["Alimento acumulado [Kg]"]/df["biomass(kg/ha)"]
df["alimentocamaron"].head(100)
df

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),...,food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,pesokg,ncamarones,alimentoCamaron,alimentocamaron
0,4,2020,2020-07-01,4.90,0,0.000000,1.000,998000.0,203673.469388,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,4,2020,2020-07-02,4.90,1,0.142857,0.980,978040.0,199600.000000,0.1500,...,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.000150,978040.0,0.038342,1.252505
2,4,2020,2020-07-03,4.90,2,0.285714,0.970,968060.0,197563.265306,0.1800,...,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.000180,968060.0,0.041320,2.179330
3,4,2020,2020-07-04,4.90,3,0.428571,0.960,958080.0,195526.530612,0.2400,...,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.000240,958080.0,0.041750,2.503923
4,4,2020,2020-07-05,4.90,4,0.571429,0.950,948100.0,193489.795918,0.3000,...,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.000300,948100.0,0.052737,2.885596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,9,2020,2020-08-30,2.31,52,7.428571,0.794,317600.0,137489.177489,13.4575,...,0.0,0,AA/platos,NaN,4640.0,1.116941,0.013457,317600.0,0.000000,2.507755
147,9,2020,2020-08-31,2.31,53,7.571429,0.792,316800.0,137142.857143,14.0000,...,150.0,64.93506493506493,AA/platos,1.0,4790.0,1.110004,0.014000,316800.0,0.473485,2.494792
148,9,2020,2020-09-01,2.31,54,7.714286,0.790,316000.0,136796.536797,14.1200,...,150.0,64.93506493506493,AA/platos,NaN,4940.0,1.137719,0.014120,316000.0,0.474684,2.557509
149,9,2020,2020-09-02,2.31,55,7.857143,0.788,315200.0,136450.216450,14.2400,...,150.0,64.93506493506493,AA/platos,NaN,5090.0,1.165147,0.014240,315200.0,0.475888,2.619591
150,9,2020,2020-09-03,2.31,56,8.000000,0.786,314400.0,136103.896104,14.3700,...,150.0,64.93506493506493,AA/platos,1.0,5240.0,1.191443,0.014370,314400.0,0.477099,2.679193

In [7]:
# Ejercicio 2
calculo=df.groupby(by="days")["weight(g)"].agg(["min","mean","max"])
df["calculo"]=

        min    mean    max
days
0      0.30   0.300   0.30
1      0.15   0.280   0.41
2      0.18   0.355   0.53
3      0.24   0.445   0.65
4      0.30   0.535   0.77
...     ...     ...    ...
88    20.50  20.500  20.50
89    21.00  21.000  21.00
90    21.33  21.330  21.33
91    21.66  21.660  21.66
92    22.00  22.000  22.00

[93 rows x 3 columns]

In [45]:
#Ejercicio 3
suv=df["surviving"].mean()
df[df["surviving"]>suv].head()

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),...,food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,pesokg,ncamarones,alimentoCamaron,alimentocamaron
0,4,2020,2020-07-01,4.9,0,0.000000,1.00,998000.0,203673.469388,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,4,2020,2020-07-02,4.9,1,0.142857,0.98,978040.0,199600.000000,0.15,...,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.00015,978040.0,0.038342,1.252505
2,4,2020,2020-07-03,4.9,2,0.285714,0.97,968060.0,197563.265306,0.18,...,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.00018,968060.0,0.041320,2.179330
3,4,2020,2020-07-04,4.9,3,0.428571,0.96,958080.0,195526.530612,0.24,...,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.00024,958080.0,0.041750,2.503923
4,4,2020,2020-07-05,4.9,4,0.571429,0.95,948100.0,193489.795918,0.30,...,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.00030,948100.0,0.052737,2.885596

In [9]:
df.columns

Index(['pool_id', 'cycle', 'date', 'surface(ha)', 'days', 'week', 'surviving',
       'density(shrimp)', 'density(shrimp/ha)', 'weight(g)', 'growth',
       'biomass(kg)', 'biomass(kg/ha)', 'food(kg)', 'food(kg/ha)',
       'type_feeding', 'Medicion', 'Alimento acumulado [Kg]', 'FCA'],
      dtype='object')

In [10]:
#Ejercicio 4
df["semanas"]=df["week"]//1
df.groupby(by="semanas")["growth"].agg(["min","max"])

           min     max
semanas
0.0      0.000  0.1300
1.0      0.050  0.3600
2.0      0.140  0.4100
3.0      0.010  0.4000
4.0      0.200  0.3700
5.0      0.180  0.3800
6.0      0.170  0.3500
7.0      0.120  0.5425
8.0      0.130  0.3800
9.0      0.230  0.3000
10.0     0.300  0.3375
11.0    -0.510  0.6700
12.0     0.164  0.5000
13.0     0.330  0.3400

In [14]:
df.head(15)

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,semanas
0,4,2020,2020-07-01,4.9,0,0.000000,1.0000,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0
1,4,2020,2020-07-02,4.9,1,0.142857,0.9800,978040.0,199600.000000,0.15,0.00,146.70600,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0.0
2,4,2020,2020-07-03,4.9,2,0.285714,0.9700,968060.0,197563.265306,0.18,0.03,174.25080,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0.0
3,4,2020,2020-07-04,4.9,3,0.428571,0.9600,958080.0,195526.530612,0.24,0.06,229.93920,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0.0
4,4,2020,2020-07-05,4.9,4,0.571429,0.9500,948100.0,193489.795918,0.30,0.06,284.43000,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0.0
5,4,2020,2020-07-06,4.9,5,0.714286,0.9400,938120.0,191453.061224,0.37,0.07,347.10440,70.837633,70.0,14.285714285714285,Boleo,NaN,237.5,1.184548,0.0
6,4,2020,2020-07-07,4.9,6,0.857143,0.9300,928140.0,189416.326531,0.50,0.13,464.07000,94.708163,75.0,15.306122448979592,Boleo,NaN,312.5,0.984364,0.0
7,4,2020,2020-07-08,4.9,7,1.000000,0.9200,918160.0,187379.591837,0.64,0.14,587.62240,119.922939,90.0,18.36734693877551,Boleo,1.0,402.5,0.912664,1.0
8,4,2020,2020-07-09,4.9,8,1.142857,0.9150,913170.0,186361.224490,0.73,0.09,666.61410,136.043694,100.0,20.408163265306122,Boleo,NaN,502.5,0.966331,1.0
9,4,2020,2020-07-10,4.9,9,1.285714,0.9100,908180.0,185342.857143,0.81,0.08,735.62580,150.127714,125.0,25.51020408163265,Boleo,NaN,627.5,1.065329,1.0
10,4,2020,2020-07-11,4.9,10,1.428571,0.9000,898200.0,183306.122449,0.90,0.09,808.38000,164.975510,100.0,20.408163265306122,Boleo/Platos,NaN,727.5,1.099318,1.0
11,4,2020,2020-07-12,4.9,11,1.571429,0.8985,896703.0,183000.612245,0.99,0.09,887.73597,181.170606,125.0,25.51020408163265,Boleo/Platos,NaN,852.5,1.150271,1.0
12,4,2020,2020-07-13,4.9,12,1.714286,0.8970,895206.0,182695.102041,1.08,0.09,966.82248,197.310710,125.0,25.51020408163265,Boleo/Platos,1.0,977.5,1.191759,1.0
13,4,2020,2020-07-14,4.9,13,1.857143,0.8955,893709.0,182389.591837,1.23,0.15,1099.26207,224.339198,125.0,25.51020408163265,Boleo/Platos,NaN,1102.5,1.157291,1.0
14,4,2020,2020-07-15,4.9,14,2.000000,0.8940,892212.0,182084.081633,1.39,0.16,1240.17468,253.096873,135.0,27.551020408163264,Boleo/Platos,NaN,1237.5,1.131616,2.0