In [1]:
import pandas as pd

In [8]:
pd.read_csv('C:/Users/user/Desktop/biodynamic/Capacitaciones/data/data1.csv')

,pool_id,cycle,date,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA
0,4,2020,2020-07-01,4.90,0,0.000000,1.000,998000.0,203673.469388,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,4,2020,2020-07-02,4.90,1,0.142857,0.980,978040.0,199600.000000,0.1500,0.0000,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000
2,4,2020,2020-07-03,4.90,2,0.285714,0.970,968060.0,197563.265306,0.1800,0.0300,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421
3,4,2020,2020-07-04,4.90,3,0.428571,0.960,958080.0,195526.530612,0.2400,0.0600,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002
4,4,2020,2020-07-05,4.90,4,0.571429,0.950,948100.0,193489.795918,0.3000,0.0600,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,9,2020,2020-08-30,2.31,52,7.428571,0.794,317600.0,137489.177489,13.4575,0.5425,4274.1020,1850.260606,0.0,0,AA/platos,NaN,4640.0,1.116941
147,9,2020,2020-08-31,2.31,53,7.571429,0.792,316800.0,137142.857143,14.0000,0.5425,4435.2000,1920.000000,150.0,64.93506493506493,AA/platos,1.0,4790.0,1.110004
148,9,2020,2020-09-01,2.31,54,7.714286,0.790,316000.0,136796.536797,14.1200,0.1200,4461.9200,1931.567100,150.0,64.93506493506493,AA/platos,NaN,4940.0,1.137719
149,9,2020,2020-09-02,2.31,55,7.857143,0.788,315200.0,136450.216450,14.2400,0.1200,4488.4480,1943.051082,150.0,64.93506493506493,AA/platos,NaN,5090.0,1.165147
150,9,2020,2020-09-03,2.31,56,8.000000,0.786,314400.0,136103.896104,14.3700,0.1300,4517.9280,1955.812987,150.0,64.93506493506493,AA/platos,1.0,5240.0,1.191443

In [9]:
#DataFrame
df = pd.read_csv('C:/Users/user/Desktop/biodynamic/Capacitaciones/data/data1.csv', index_col='date')
df.head()

,pool_id,cycle,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA
date,,,,,,,,,,,,,,,,,,
2020-07-01,4,2020,4.9,0,0.000000,1.00,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2020-07-02,4,2020,4.9,1,0.142857,0.98,978040.0,199600.000000,0.15,0.00,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000
2020-07-03,4,2020,4.9,2,0.285714,0.97,968060.0,197563.265306,0.18,0.03,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421
2020-07-04,4,2020,4.9,3,0.428571,0.96,958080.0,195526.530612,0.24,0.06,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002
2020-07-05,4,2020,4.9,4,0.571429,0.95,948100.0,193489.795918,0.30,0.06,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318

In [10]:
df.groupby('pool_id')['weight(g)']
df3 = df.groupby('pool_id')[['weight(g)']].agg(['min','mean','max'])

In [11]:
df['weektotal'] = df['days']//7
df2 = df.groupby(['pool_id','weektotal'])['weight(g)'].mean()

In [12]:
df[['weight(g)','pool_id']].groupby('pool_id').agg({
    'weight(g)':'mean',
    'weight(g)': 'min'
})

         weight(g)
pool_id
4             0.15
9             0.30

In [17]:
#DataFrame promedio2
df.groupby('pool_id') ['weight(g)'].mean()
df.groupby('pool_id') ['weight(g)'].agg(['max','min','mean'])

           max   min      mean
pool_id
4        22.00  0.15  9.579366
9        14.37  0.30  6.377544

In [19]:
#DataFrame promedio supervivencia 3
df.groupby('pool_id') ['surviving'].mean()

pool_id
4    0.812199
9    0.864860
Name: surviving, dtype: float64

In [23]:
#Filtrado con apply survivin >promedio
df[ df['surviving'].apply(lambda x: x>0.86) ]
df[ df['surviving']>0.86 ]

,pool_id,cycle,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,weektotal
date,,,,,,,,,,,,,,,,,,,
2020-07-01,4,2020,4.90,0,0.000000,1.0000,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
2020-07-02,4,2020,4.90,1,0.142857,0.9800,978040.0,199600.000000,0.15,0.00,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0
2020-07-03,4,2020,4.90,2,0.285714,0.9700,968060.0,197563.265306,0.18,0.03,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0
2020-07-04,4,2020,4.90,3,0.428571,0.9600,958080.0,195526.530612,0.24,0.06,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0
2020-07-05,4,2020,4.90,4,0.571429,0.9500,948100.0,193489.795918,0.30,0.06,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-06,9,2020,2.31,28,4.000000,0.8685,347400.0,150389.610390,5.85,0.26,2032.2900,879.779221,125.0,54.112554112554115,Boleo/Platos,1.0,1960.0,1.024896,4
2020-08-07,9,2020,2.31,29,4.142857,0.8670,346800.0,150129.870130,6.16,0.31,2136.2880,924.800000,125.0,54.112554112554115,AA/platos,NaN,2085.0,1.034027,4
2020-08-08,9,2020,2.31,30,4.285714,0.8655,346200.0,149870.129870,6.47,0.31,2239.9140,969.659740,125.0,54.112554112554115,AA/platos,NaN,2210.0,1.042446,4
2020-08-09,9,2020,2.31,31,4.428571,0.8635,345400.0,149523.809524,6.79,0.32,2345.2660,1015.266667,0.0,0,AA/platos,NaN,2210.0,0.993095,4
2020-08-10,9,2020,2.31,32,4.571429,0.8615,344600.0,149177.489177,7.10,0.31,2446.6600,1059.160173,125.0,54.112554112554115,AA/platos,1.0,2335.0,1.003541,4

In [29]:
#DataFrame promedio crecimiemto 4 semanal
df.groupby('week') ['growth'].mean()
df.groupby('week') ['growth'].agg(['max','min'])

            max   min
week
0.000000   0.00  0.00
0.142857   0.11  0.00
0.285714   0.12  0.03
0.428571   0.12  0.06
0.571429   0.12  0.06
...         ...   ...
12.571429  0.50  0.50
12.714286  0.50  0.50
12.857143  0.33  0.33
13.000000  0.33  0.33
13.142857  0.34  0.34

[93 rows x 2 columns]

In [31]:
#DataFrame comida/biomasa 1
df['fo/bio'] = df['food(kg)']/df['biomass(kg)'] 
df.head()

,pool_id,cycle,surface(ha),days,week,surviving,density(shrimp),density(shrimp/ha),weight(g),growth,biomass(kg),biomass(kg/ha),food(kg),food(kg/ha),type_feeding,Medicion,Alimento acumulado [Kg],FCA,weektotal,fo/bio
date,,,,,,,,,,,,,,,,,,,,
2020-07-01,4,2020,4.9,0,0.000000,1.00,998000.0,203673.469388,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN
2020-07-02,4,2020,4.9,1,0.142857,0.98,978040.0,199600.000000,0.15,0.00,146.7060,29.940000,37.5,7.653061224489796,Boleo,NaN,37.5,375.000000,0,0.255613
2020-07-03,4,2020,4.9,2,0.285714,0.97,968060.0,197563.265306,0.18,0.03,174.2508,35.561388,40.0,8.16326530612245,Boleo,NaN,77.5,2.803421,0,0.229554
2020-07-04,4,2020,4.9,3,0.428571,0.96,958080.0,195526.530612,0.24,0.06,229.9392,46.926367,40.0,8.16326530612245,Boleo,NaN,117.5,1.410002,0,0.173959
2020-07-05,4,2020,4.9,4,0.571429,0.95,948100.0,193489.795918,0.30,0.06,284.4300,58.046939,50.0,10.204081632653061,Boleo,NaN,167.5,1.215318,0,0.175790